h2{
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
    color: green;
}

h1{
    text-align: center;
    background-color: cadetblue;
    border-radius: 30px;
}

span{
    color: red;
}

.hey{
    color: green;
}
.t5{
    width: 1000px;
    text-align: center;
    font-size: 20px;
    
}
























